<div class='container'>
    <div class='row'>

        {{!-- Not Yet Eaten --}}
        <div class='col text-center'>
            <h3 class="text-danger">Not Yet Eaten</h3>
            {{#each tummy}}
            {{#if devoured}}
            {{else}}
            <div class='card mb-3'>
                <div class='burgerWrapper'>

                    <div class="card-title">
                        <h5>#{{this.id}} {{this.burger_name}}</h5>
                    </div>

                    <div class="card-body burgerCard" style='height: 70px'>
                    </div>

                    <div class='card-footer'>
                        <div class="row">
                            <div class="col-7 text-left">
                                <button data-db-id='{{this.id}}' data-is-devoured={{this.devoured}}
                                    class="btn devourButton">
                                    Eat</button>
                            </div>
                            <div class="col-5 text-right">
                                <button data-db-id='{{this.id}}' class="btn trashButton"> Trash</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

        {{!-- Add New Burger Form --}}
        <div class='col text-center'
            style='border-left: 5px rgb(44, 141, 197) solid; border-right: 5px rgb(44, 141, 197) solid'>
            <h3 class="text-danger">Make a Burger</h3>
            <div class="card mt-3 mb-3 p-3">
                <form id='addBurgerForm' class="text-center">
                    <div class="col-12">
                        <h3>Create-A-Burger</h3>
                        <br>
                        <input type="text" class="form-control" id='burgerName' name='burgerName'
                            placeholder="New burger name">
                    </div>
                    <br>
                    <button type='submit' class='btn' style="font-size: 50px"></button>
                </form>
            </div>
        </div>

        {{!-- Already Eaten --}}
        <div class='col text-center'>
            <h3 class='text-danger'>Eaten</h3>
            {{#each tummy}}
            {{#if devoured}}
            <div class='card mb-3'>
                <div class='burgerWrapper'>

                    <div class="card-title">
                        <h5>#{{this.id}} {{this.burger_name}}</h5>
                    </div>

                    <div class="card-body burgerCard" style='height: 70px'>
                    </div>

                    <div class='card-footer'>
                        <div class="row">

                            <div class="col-5 text-right">
                                <button data-db-id='{{this.id}}' class="btn trashButton">Trash</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

    </div>
</div>
{{!-- Capture New Burger --}}
<script>
    $(document).on("submit", "#addBurgerForm", function () {
        event.preventDefault()
        $.ajax({
            url: '/api/addnewburger',
            method: 'POST',
            data: {
                burgerName: $('#burgerName').val().trim()
            }
        }).then(function (response) {
            console.log(response)
        })
        window.location.replace('/api/allburgers')
    });
</script>

{{!-- Devour A Burger --}}
<script>
    $(document).on("click", ".devourButton", function () {
        event.preventDefault()
        let currentStatus = $(this).attr('data-is-devoured')
        let newStatus;
        if (currentStatus === '1') {
            newStatus = false
        } else if (currentStatus === '0') {
            newStatus = true
        }
        $.ajax({
            url: '/api/changedevouredstatus',
            method: 'PUT',
            data: {
                id: $(this).attr('data-db-id'),
                newdevouredstatus: newStatus
            }
        }).then(function (response) {
            console.log(response)
        })
        window.location.replace('/api/allburgers')
    });
</script>

{{!-- Trash A Burger --}}
<script>
    $(document).on("click", ".trashButton", function () {
        $.ajax({
            url: '/api/deleteaburger',
            method: 'DELETE',
            data: {
                id: $(this).attr('data-db-id'),
            }
        }).then(function (response) {
            console.log(response)
        })
        window.location.replace('/api/allburgers')
    });
</script>